.arrowToRightContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.arrowToRight {
  position: absolute;
  font-size: 50px;
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 10px;
  padding: 20px 0px;
  z-index: 20;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);
  top: 50%;
  left: 88.5%;
  transform: translateY(-50%);
}
.arrowToRight:hover {
  color: var(--secondary-color);
  background-color: var(--black);
}

@media (max-width: 1600px) {
  .arrowToRight {
    font-size: 40px;
    padding: 15px 0;
  }
}

@media (max-width: 1024px) {
  .arrowToRight {
    left: 87%;
  }
}
@media (max-width: 425px) {
  .arrowToRight {
    font-size: 20px;
    padding: 15px 0;
  }
}
