.arrowToRightContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 700px;
}
.arrowToRight {
  position: relative;
  right: -750px;
  font-size: 50px;
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 10px;
  padding: 20px 0px;
  z-index: 20;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);
}
.arrowToRight:hover {
  color: var(--secondary-color);
  background-color: var(--black);
}
