.guidesContainer {
  position: absolute;
  width: 1500px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guide {
  position: absolute;
  color: var(--primary-color);
  font-family: "Waiting for the Sunrise", cursive;
  letter-spacing: 1px;
  font-size: 30px;
  text-decoration: underline;
  font-weight: 600;
  transition: 0.5s;
  -webkit-user-select: none;
  user-select: none;
}
.guideUp {
  top: -90px;
}
.guideDown {
  bottom: -90px;
}
.guideLeft {
  transform: rotate(270deg);
  left: -100px;
}
.guideRight {
  transform: rotate(90deg);
  right: -130px;
}
