.arrowToDownContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 700px;
}
.arrowToDown {
  position: relative;
  bottom: -350px;
  font-size: 50px;
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 10px;
  padding: 0 20px;
  z-index: 20;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);
}
.arrowToDown:hover {
  color: var(--secondary-color);
  background-color: var(--black);
}
