.homeContainer.down {
  transform: translateY(100vh);
  transition: 1s;
}
.homeContainer.up {
  transform: translateY(-100vh);
  transition: 1s;
}
.homeContainer.left {
  transform: translateX(-100vw);
  transition: 1s;
}
.homeContainer.right {
  transform: translateX(100vw);
  transition: 1s;
}
.homeContainer.cameFromSkills {
  animation: upToCenter 1s;
}
.homeContainer.cameFromContact {
  animation: downToCenter 1s;
}
.homeContainer.cameFromAboutme {
  animation: leftToCenter 1s;
}
.homeContainer.cameFromProjects {
  animation: rightToCenter 1s;
}
.homeLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  z-index: 10;
}
.homeTitle {
  display: flex;
  flex-direction: column;
  font-size: 110px;
  font-weight: 600;
}
.homeSubtitle {
  background-color: var(--secondary-color);
  padding: 2% 5%;
  font-size: 55px;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 7%;
  transition: 0.5s;
}
.homeSocials {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin-top: 7%;
}
.homeSocials a {
  background-color: var(--black);
  padding: 2% 4%;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  border-radius: 10px;
  border: 2px solid var(--black);
  transition: 0.5s;
}
.homeSocials a:hover {
  background-color: transparent;
  color: var(--black);
}
.homeRight {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.homeImg {
  width: 100%;
  height: 50%;
  border-radius: 20px;
  background: linear-gradient(
    228deg,
    var(--primary-color) 10%,
    var(--secondary-color) 100%
  );
}
.homeImg img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: rotate(20deg);
  transition: 0.5s;
}
.homeImg img:hover {
  transform: rotate(0);
}

/* ------------ -1700px ------------ */

@media (max-width: 1700px) {
}

/* -------------- -1440px -------------- */

@media (max-width: 1440px) {
  .homeTitle {
    font-size: 80px;
  }
}

/* -------------- -1280px -------------- */

@media (max-width: 1280px) {
  .homeImg {
    height: 40%;
    width: 100%;
  }
}

/* -------------- -1024px -------------- */

@media (max-width: 1024px) {
}

/* -------------- -970px -------------- */

@media (max-width: 970px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homeLeft {
    height: 50%;
  }
  .homeTitle {
    font-size: 90px;
  }
  .homeRight {
    height: 30%;
    width: 40%;
    margin-top: 5%;
  }
  .homeImg {
    height: 80%;
  }
}

/* -------------- -767px -------------- */

@media (max-width: 767px) {
  .homeTitle {
    font-size: 70px;
  }
  .homeSubtitle {
    font-size: 40px;
  }
  .homeSocials a {
    font-size: 15px;
  }
  .homeRight {
    height: 40%;
    width: 50%;
  }
  .homeImg {
    height: 70%;
  }
}

/* -------------- -540px -------------- */

@media (max-width: 540px) {
}

/* -------------- -425px -------------- */

@media (max-width: 425px) {
  .homeTitle {
    font-size: 50px;
    margin-bottom: 20%;
  }
  .homeSubtitle {
    font-size: 30px;
    margin-bottom: 20%;
    padding: 2% 20%;
    transform: rotate(-15deg);
  }
  .homeSubtitle:hover {
    transform: rotate(0);
  }
  .homeSocials {
    gap: 10%;
  }
  .homeSocials a {
    font-size: 15px;
  }
  .homeRight {
    height: 30%;
    width: 70%;
  }
  .homeImg {
    height: 70%;
  }
}

/* -------------- -375px -------------- */

@media (max-width: 375px) {
  .homeImg {
    height: 70%;
    width: 80%;
  }
}
