@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: monospace;
}
html {
  overflow: hidden;
}
html::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  --black: #1b1b1b;
  --white: #f0f0f0;
  transition: background 2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App.dark {
  background-color: #1b1b1b;
  --background: #1b1b1b;
}
.App.light {
  background-color: #cfcfcf;
  --background: #cfcfcf;
}
.App.red {
  --primary-color: #db6962;
  --secondary-color: #ff928c;
}
.App.blue {
  --primary-color: #7a82db;
  --secondary-color: #a8b0ff;
}
.App.green {
  --primary-color: #55db75;
  --secondary-color: #7dff9b;
}
.App.orange {
  --primary-color: #fa9660;
  --secondary-color: #ffb891;
}

/* ----------------- THEME --------------- */

.themeSwitcher {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
  top: 30px;
  right: 0px;
  overflow: hidden;
  width: 70px;
}

/* ---------------- GENERAL CSS ------------ */

.container {
  min-width: 1500px;
  min-height: 700px;
  width: 1500px;
  height: 700px;
  background-color: var(--primary-color);
  border-radius: 40px;
  display: flex;
  box-sizing: border-box;
  transition: background 1s;
}

.title {
  font-size: 80px;
  height: 20%;
  margin-top: 3%;
}

/* ----------------- ANIMATIONS ------------ */

@keyframes centerToDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes centerToUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
@keyframes upToCenter {
  0% {
    transform: translateY(100vh);
  }
  100% {
  }
}
@keyframes downToCenter {
  0% {
    transform: translateY(-100vh);
  }
  100% {
  }
}
@keyframes leftToCenter {
  0% {
    transform: translateX(-100vw);
  }
  100% {
  }
}
@keyframes rightToCenter {
  0% {
    transform: translateX(100vw);
  }
  100% {
  }
}
