@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: monospace;
}
html {
  overflow: hidden;
}
html::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  --black: #1b1b1b;
  --white: #f0f0f0;
  transition: background 2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App.dark {
  background-color: #1b1b1b;
  --background: #1b1b1b;
}
.App.light {
  background-color: #775454;
  --background: #cfcfcf;
}
.App.red {
  --primary-color: #db6962;
  --secondary-color: #ff928c;
}
.App.blue {
  --primary-color: #7a82db;
  --secondary-color: #a8b0ff;
}
.App.green {
  --primary-color: #55db75;
  --secondary-color: #7dff9b;
}
.App.orange {
  --primary-color: #fa9660;
  --secondary-color: #ffb891;
}

/* ----------------- THEME --------------- */

.themeSwitcher {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: baseline;
  top: 30px;
  right: 0px;
  overflow: hidden;
  width: 70px;
}

/* ---------------- GENERAL CSS ------------ */

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 75%;
  background-color: var(--primary-color);
  border-radius: 40px;
  display: flex;
  box-sizing: border-box;
  transition: background 1s;
}

.title {
  font-size: 80px;
  height: 20%;
  margin-top: 3%;
}

/* ----------------- ANIMATIONS ------------ */

@keyframes centerToDown {
  0% {
  }
  100% {
    transform: translate(-50%, 100vh);
  }
}
@keyframes centerToUp {
  0% {
  }
  100% {
    transform: translateY(-100vh);
  }
}
@keyframes upToCenter {
  0% {
    transform: translate(-50%, 50vh);
  }
  100% {
  }
}
@keyframes downToCenter {
  0% {
    transform: translate(-50%, -150vh);
  }
  100% {
  }
}
@keyframes leftToCenter {
  0% {
    transform: translate(-150vw, -50%);
  }
  100% {
  }
}
@keyframes rightToCenter {
  0% {
    transform: translate(50vw, -50%);
  }
  100% {
  }
}

/* ------------ -1700px ------------ */

@media (max-width: 1700px) {
  /* .container {
    min-width: 1400px;
    min-height: 650px;
    width: 1400px;
    height: 650px;
  } */
}

/* ------------ -1600px ------------ */

@media (max-width: 1600px) {
  /* .container {
    min-width: 1275px;
    min-height: 600px;
    width: 1275px;
    height: 600px;
  } */
}

/* -------------- -1440px -------------- */

@media (max-width: 1440px) {
  /* .container {
    min-width: 1100px;
    min-height: 550px;
    width: 1100px;
    height: 550px;
  } */
}

/* -------------- -1280px -------------- */

@media (max-width: 1280px) {
  /* .container {
    min-width: 950px;
    min-height: 550px;
    width: 950px;
    height: 550px;
  } */
}

/* -------------- -1024px -------------- */

@media (max-width: 1024px) {
  /* .container {
    min-width: 800px;
    min-height: 450px;
    width: 800px;
    height: 450px;
  } */
}

/* -------------- -970px -------------- */

@media (max-width: 970px) {
  /* .container {
    position: absolute;
    width: 500px;
    height: 80%;
  } */
}

/* -------------- -767px -------------- */

@media (max-width: 767px) {
  .themeSwitcher {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    top: 3%;
    right: 0px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
}

/* -------------- -425px -------------- */

@media (max-width: 425px) {
}

/* -------------- -375px -------------- */

@media (max-width: 375px) {
}
