.aboutmeContainer.right {
  transform: translate(50vw, -50%);
  transition: 1s;
}
.aboutmeContainer.cameFromHome {
  animation: rightToCenter 1s;
}
.aboutmeContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-weight: 600;
  color: var(--black);
  z-index: 10;
}
.aboutmeInfo {
  display: flex;
  gap: 5%;
  padding: 5% 3%;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: var(--black);
  border-radius: 20px;
  margin-top: 2%;
  box-sizing: border-box;
  z-index: 30;
}
.aboutmeInfoLeft {
  width: 40%;
}
.aboutmeQuestions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
}
.aboutmeQuestion1,
.aboutmeQuestion2,
.aboutmeQuestion3,
.aboutmeQuestion4 {
  padding: 5%;
  width: 100%;
  border-radius: 10px;
}
.aboutmeQuestion1.true,
.aboutmeQuestion2.true,
.aboutmeQuestion3.true,
.aboutmeQuestion4.true {
  background-color: var(--secondary-color);
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.aboutmeQuestion1.true::after,
.aboutmeQuestion2.true::after,
.aboutmeQuestion3.true::after,
.aboutmeQuestion4.true::after {
  content: " ";
  background-color: var(--secondary-color);
  padding: 2% 15%;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
  transform: translateX(50px);
  animation: after 1s;
  position: relative;
  z-index: 20;
}
.aboutmeQuestion {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 2px solid var(--secondary-color);
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}
.aboutmeQuestion:hover {
  background-color: transparent;
  color: var(--secondary-color);
}
.aboutmeQuestion1.true .aboutmeQuestion,
.aboutmeQuestion2.true .aboutmeQuestion,
.aboutmeQuestion3.true .aboutmeQuestion,
.aboutmeQuestion4.true .aboutmeQuestion {
  color: var(--secondary-color);
  background-color: var(--black);
  border: 2px solid var(--black);
}
.aboutmeQuestion1.true .aboutmeQuestion:hover,
.aboutmeQuestion2.true .aboutmeQuestion:hover,
.aboutmeQuestion3.true .aboutmeQuestion:hover,
.aboutmeQuestion4.true .aboutmeQuestion:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}
.aboutmeInfoRight {
  background-color: var(--secondary-color);
  height: 100%;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.aboutmeInfo1,
.aboutmeInfo2,
.aboutmeInfo3,
.aboutmeInfo4 {
  display: none;
  width: 80%;
}
.aboutmeInfo1.true,
.aboutmeInfo2.true,
.aboutmeInfo3.true,
.aboutmeInfo4.true {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  z-index: 30;
}
@keyframes after {
  0% {
    left: 60px;
  }
  100% {
    left: 0;
  }
}

/* ------------ -1700px ------------ */

@media (max-width: 1700px) {
}

/* ------------ -1600px ------------ */

@media (max-width: 1600px) {
  .aboutmeInfo {
    padding: 4% 2%;
  }
}

/* -------------- -1440px -------------- */

@media (max-width: 1440px) {
  .aboutmeTitle {
    font-size: 80px;
  }
}

/* -------------- -1280px -------------- */

@media (max-width: 1280px) {
}

/* -------------- -1024px -------------- */

@media (max-width: 1024px) {
  .aboutmeTitle {
    font-size: 60px;
  }
  .aboutmeInfo {
    padding: 4% 2%;
  }
  .aboutmeInfo1.true,
  .aboutmeInfo2.true,
  .aboutmeInfo3.true,
  .aboutmeInfo4.true {
    font-size: 17px;
  }
  .aboutmeQuestion {
    font-size: 17px;
  }
}

/* -------------- -970px -------------- */

@media (max-width: 970px) {
  .aboutmeTitle {
    font-size: 80px;
    margin-bottom: 10%;
  }
  .aboutmeInfo {
    padding: 8% 4%;
    box-sizing: content-box;
  }
  .aboutmeInfoRight {
    padding: 5% 0;
  }

  .aboutmeQuestion1,
  .aboutmeQuestion2,
  .aboutmeQuestion3,
  .aboutmeQuestion4 {
    padding: 15%;
  }
}

/* -------------- -768px -------------- */

@media (max-width: 768px) {
  .aboutmeContent {
    height: 100%;
  }
  .aboutmeTitle {
    font-size: 60px;
    margin: 8% 0;
  }
  .aboutmeInfo {
    padding: 8% 4%;
    box-sizing: content-box;
    height: 90%;
    margin-bottom: 5%;
  }
  .aboutmeInfoRight {
    padding: 5% 0;
    width: 70%;
  }
  .aboutmeInfo1.true,
  .aboutmeInfo2.true,
  .aboutmeInfo3.true,
  .aboutmeInfo4.true {
    font-size: 14px;
  }
  .aboutmeQuestion {
    font-size: 15px;
  }
  .aboutmeQuestion1,
  .aboutmeQuestion2,
  .aboutmeQuestion3,
  .aboutmeQuestion4 {
    padding: 5%;
  }
  .aboutmeQuestion1.true,
  .aboutmeQuestion2.true,
  .aboutmeQuestion3.true,
  .aboutmeQuestion4.true {
    padding: 10px;
  }
}

@media (max-width: 510px) {
  .aboutmeTitle {
    font-size: 50px;
    margin-bottom: 5%;
    height: 10%;
  }
  .aboutmeInfo {
    padding: 5% 3%;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    gap: 2%;
  }
  .aboutmeInfoLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }
  .aboutmeInfoRight {
    padding: 7% 0;
    margin-bottom: 2%;
    width: 95%;
    height: 100%;
  }
  .aboutmeInfo1.true,
  .aboutmeInfo2.true,
  .aboutmeInfo3.true,
  .aboutmeInfo4.true {
    font-size: 12px;
  }
  .aboutmeQuestion {
    font-size: 13px;
  }
  .aboutmeQuestion1,
  .aboutmeQuestion2,
  .aboutmeQuestion3,
  .aboutmeQuestion4 {
    padding: 5%;
  }
  .aboutmeQuestion1.true,
  .aboutmeQuestion2.true,
  .aboutmeQuestion3.true,
  .aboutmeQuestion4.true {
    padding: 10px;
  }
  .aboutmeQuestion1.true::after,
  .aboutmeQuestion2.true::after,
  .aboutmeQuestion3.true::after,
  .aboutmeQuestion4.true::after {
    display: none;
  }
}

/* -------------- -425px -------------- */

@media (max-width: 425px) {
}

/* -------------- -375px -------------- */

@media (max-width: 375px) {
  .aboutmeTitle {
    font-size: 40px;
    margin-bottom: 5%;
  }
  .aboutmeInfo {
    padding: 5% 3%;
    box-sizing: border-box;
    flex-direction: column;
  }
  .aboutmeInfoRight {
    padding: 5% 0;
    margin-bottom: 2%;
  }
  .aboutmeInfo1.true,
  .aboutmeInfo2.true,
  .aboutmeInfo3.true,
  .aboutmeInfo4.true {
    font-size: 10px;
  }
  .aboutmeQuestion {
    font-size: 10px;
  }
}
